 <div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1>Rahim Solution</h1>
    </div>
    <div class="col-md-4"></div>
  </div>
  
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12">
          <label for="tableName">Product Name:</label>
        <input type="text" id="name" name="name" formControlName="tableName" class="form-control">
        </div>
        
      </div>
      <br/>
      <div class="row" formArrayName="columnesDetails">
        <div class="col-md-12" *ngFor="let quantity of columnesDetails().controls; let i=index" [formGroupName]="i">
        <div class="row">
          <div class="col-md-5">
            <label> columnName</label>
            <input type="text" formControlName="columnName" class="form-control"></div>
          <div class="col-md-5">
            <label>columnType</label>
            <input type="text" formControlName="columnType" class="form-control">
          </div>
          <div class="col-md-2">
          <button (click)="removeList(i)" class="btn btn-danger remove">Remove</button>
          </div>
        </div>
        </div>
      </div> 
      <br/>
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-6">
              <button type="button" (click)="addList()" class="btn btn-primary">Add More</button>
            </div>
            <div class="col-md-6">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </div>
        </div>
        <div class="col-md-8">
       </div>
      </div>
      
    </form>
      </div>
    <div class="col-md-2"></div>
  </div>
</div> 
 
